<canvas baseChart class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
</canvas>

<mat-divider style="margin: 1em 0;"></mat-divider>

<div class="button-row">
  <button class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary" (click)="toggleLegend()">Toggle Legend</button>
  <button class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary" (click)="changeLabels()">Change Labels</button>
  <button class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary" (click)="addSlice()">Add Slice</button>
  <button class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary" (click)="removeSlice()">Remove Slice</button>
  <button class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary" (click)="changeLegendPosition()">Change Legend Position</button>
</div>
