<div class="modal-body">
    <p><b>Please fill the mandatory fields according your preference to design drawer</b> </p>

    <form  [formGroup]="drawerForm" (ngSubmit)="onSubmit()">

        <div class="form-group pt-3">
            <label>Text for drawer:</label><span class="star">*</span>
            <input type="text" maxlength="250" class="form-control inputbox" aria-describedby="text for drawer" aria-required="true" placeholder="Please enter text for drawer" name="drawertext" formControlName="drawertext" [ngClass]="{ 'is-invalid': submitted && f.drawertext.errors }" autofocus/>
            <div class="invalid-feedback" *ngIf="(f.drawertext.touched || submitted) && f.drawertext.errors" >
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.required">Text is required</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.minlength">Minimum length of 25 required for drawer text</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.maxlength">Maximum length 250 of allowed for drawer text</div>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>Profile Name:</label><span class="star">*</span>
            <input type="text" maxlength="15" class="form-control inputbox" aria-describedby="profile-err-text" placeholder="Profile name" name="welcome" formControlName="welcome" [ngClass]="{ 'is-invalid': submitted && f.welcome.errors }" autofocus/>
            <div *ngIf="(f.welcome.touched || submitted) && f.welcome.errors" class="invalid-feedback">
                <div class="error" role="alert" id="profile-err-text" *ngIf="f.welcome.errors.required">Profile name is required</div>
                <div class="error" role="alert" id="profile-err-text" *ngIf="f.welcome.errors.maxlength">maxlength 20</div>
            </div>  
        </div> -->

        <!-- <div class="pt-3">
            <label class="accessbility">Would you like to have Capgemini logo in the header section</label><span class="star">*</span>
            <div class="form-group">
                
                <label class="image1"> <input type="radio"  name="image3" value="Yes" aria-describedby="capglogo-err-text" aria-label="Yes" aria-checked="Yes" formControlName="image3"> <span>Yes</span></label>
                
                <label class="image1"> <input type="radio" name="image3" value="No" aria-describedby="capglogo-err-text" aria-label="No" aria-checked="No" formControlName="image3"> <span>No</span></label>
            
                <div *ngIf="submitted && f.image3.errors" class="invalid-feedback">
                    <div class="error" role="alert" id="capglogo-err-text" *ngIf="f.image3.errors.required">Capgemini logo is required</div>
                </div>    
                </div>        
        </div> -->

        <div class="pt-3">
            <label class="accessbility">Please select timeout value for drawer </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="timeout" aria-label="select timeout for drawer" formControlName="timeout">
                    <option>1000ms</option>
                    <option>2000ms</option>
                    <option>5000ms</option>
                </select>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please select direction for drawer </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="direction" aria-label="select direction for drawer" formControlName="direction">
                    <!-- <option>--Select--</option> -->
                    <option>Left</option>
                    <option>Right</option>
                    <option>Top</option>
                    <option>Bottom</option>
                </select>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please select Theme color </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="color" aria-label="select theme color" formControlName="color">
                    <option>Light</option>
                    <option>Dark</option>
                    <option>Blue</option>
                    <option>Purple</option>
                </select>
            </div>
        </div>

        <div class="footerbutton">
            <button class="submitbutton">
                Create
            </button>
        </div>
    </form>

</div>
