<div class="main">
    <div class="top-header">
        <div class="insideheader">
            <h4 class="subheader">Drawer <span>Component</span></h4>
        </div>
        <div class="button-sec">
            <button class=" backbutton" (click)="backwindow()">Back</button>
            <button class=" backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
        </div> 
    </div>
        <!-- <p>drawer works!</p> -->
        <div #drawer class="drawer-content">

            <button class="btn btn-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvas">Toggle drawer/offcanvas</button>

            <div class="offcanvas"  [ngClass]="[drawerdata.direction=='Left'?'offcanvas-start': drawerdata.direction=='Right'?'offcanvas-end':drawerdata.direction=='Top'?'offcanvas-top':drawerdata.direction=='Bottom'?'offcanvas-bottom':'', drawerdata.timeout=='1000ms'?'drawer-slide-low': drawerdata.timeout=='2000ms'?'drawer-slide-medium': drawerdata.timeout=='5000ms'?'drawer-slide-high':'']" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvas-Label">
            <!-- <div [ngClass]="drawerdata.timeout=='1000ms'?'drawer-slide-low': drawerdata.timeout=='2000ms'?'drawer-slide-medium': drawerdata.timeout=='5000ms'?'drawer-slide-high':''"> -->
                <div class="offcanvas-header">
                    <h5 id="offcanvasTopLabel">Show Drawer/Offcanvas</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div [ngStyle]="{'backgroundColor':bgcolor,'color':color}" class="offcanvas-body">
                    {{drawerdata.drawertext}}
                </div>
            <!-- </div> -->
            </div>

        </div>

        <ul class="list-inline">
            <li (click)="openhtml()"><button [class]="htmlcontent">HTML</button></li>
            <li (click)="opencss()"><button [class]="csscontent">CSS</button></li>
        </ul>
        
        <div class="htmlelement" *ngIf="htmlcontent == 'active'">
            <div class="copybutton">
                <button ngxClipboard [cbContent]="getHtmlContent()" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
            </div>
            <pre><code [highlight]="getHtmlContent()">{{getHtmlContent()}}</code></pre>
        </div>
        <div class="htmlelement" *ngIf="csscontent == 'active'">
            <div class="copybutton">
                <button ngxClipboard [cbContent]="CSS" (click)="copy()"><i class="fa fa-copy copyicon"></i>{{Copy}}</button>
            </div>
            <pre><code [highlight]="CSS">{{CSS}}</code></pre>
        </div>
</div>
  
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modaldialog-width">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Drawer</h4>
                <button class="clearbtn"  aria-label="Drawer Update modal close"  #myModalClose15 data-bs-dismiss="modal">
                    <img [src]="closeicon" class="closeicon">  
                </button>
            </div>
            <app-editdrawer (onclose)="close()"></app-editdrawer>
        </div>
    </div>
</div>
  


