<div class="modal-body">
    <p><b>Please update the mandatory fields according your preference to design drawer</b> </p>

    <form  [formGroup]="drawerForm" (ngSubmit)="onSubmit()">

        <div class="form-group pt-3">
            <label>Text for drawer:</label><span class="star">*</span>
            <input type="text" [(ngModel)]="drawerdata.drawertext" maxlength="250" class="form-control inputbox" aria-describedby="text for drawer" aria-required="true" placeholder="Please enter text for drawer" name="drawertext" formControlName="drawertext" [ngClass]="{ 'is-invalid': submitted && f.drawertext.errors }" autofocus/>
            <div class="invalid-feedback" *ngIf="(f.drawertext.touched || submitted) && f.drawertext.errors">
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.required">Text is required</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.minlength">Minimum length of 25 required for text</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.drawertext.errors.maxlength">Maximum length 250 of allowed for  text</div>
            </div>
        </div>

        <!-- [ngClass]="{ 'is-invalid': submitted && f.title.errors }"  -->
        <!-- <div *ngIf="(f.title.touched || submitted) && f.title.errors" class="invalid-feedback"></div> -->
        <!-- *ngIf="f.title.errors.required" -->
        <!-- *ngIf="f.title.errors.minlength" -->
        <!-- *ngIf="f.title.errors.maxlength" -->

        <div class="pt-3">
            <label class="accessbility">Please select timeout value for drawer </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" [(ngModel)]="drawerdata.timeout" name="timeout" aria-label="select timeout for drawer" formControlName="timeout">
                    <option>1000ms</option>
                    <option>2000ms</option>
                    <option>5000ms</option>
                </select>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please select direction for drawer </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" [(ngModel)]="drawerdata.direction" name="direction" aria-label="select  direction for drawer" formControlName="direction">
                    <!-- <option>--Select--</option> -->
                    <option>Left</option>
                    <option>Right</option>
                    <option>Top</option>
                    <option>Bottom</option>
                </select>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please select Theme color </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" [(ngModel)]="drawerdata.color" name="color" aria-label="select theme color" formControlName="color">
                    <option>Light</option>
                    <option>Dark</option>
                    <option>Blue</option>
                    <option>Purple</option>
                </select>
            </div>
        </div>

        <div class="footerbutton">
            <button class="submitbutton">
                Update
            </button>
        </div>
    </form>
</div>
