.main-error{
  height: 100vh;
  .Blue{
    background-color: #0070ad;
    color: #fff;
    .error-header{
      color: #fff!important;
    }

  }
  .Dark{
    background-color: black;
    .error-container{
      color: white;
    }

  }
  .Purple{
    background-color: #2b0a3d;
    .error-container{
      color: white;
    }
  }
  .Light{
    background-color: white;
    .error-container{
      color: black;
    }
  }
}
.error-container{
  height: 90vh;
  // .w-50{
  //   background-color: red;
  // }
  
}
.error-page{
    // border: 1px solid black;
    border-radius: 4px;
    // height: 90vh;
    margin-bottom: 1.5rem!important;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  
      .error-container{
        margin: 20px;
  //       position: absolute;
  // top: 20%;
  // left: 15%;
  // right: 15%;
  // bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .header{
    font-size: 16vw;
  line-height: 1em;
  // text-align: center;
  // position: relative;
  
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
  animation: animate 10s ease-in-out infinite;
  }
  .error-header{
    font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;

  max-width: 600px;
  position: relative;
  }
  .error-header:after{
    position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .btns{
    display: inline-block;
  // margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
//   color: #69a6ce;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background: #69a6ce;
  }
  .btns a{
   
  color: #fff!important;
  }
       
      }
}


.htmlelement{
  background-color: var(--color-white);;
  overflow-y: scroll;
  width:90%;
  height:350px;
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
}
.copybutton{
  text-align: end;
      margin-right: 40px;
      button{
          border: 1.5px solid black;
          background: transparent;
          border-radius: 10px;
          padding: 5px 10px;
      }
      .copyicon{
          margin-right: 5px;
      }
}


.list-inline {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  li:first-child{
      margin-right: 10px;
  }
  li{
      cursor: pointer;
      button{
          border: none;
          background: transparent;
          padding: 0px;
      }
  }
}
.widthclass{
  .error-container{
    .w-50{
      width: 100% !important;
      .header{
        font-size: 10vw;
      }
    }
    .assistance-heading{
      font-size: 16px;
    }
    .btns{
      padding: 10px;
      font-size: 10px;
    }
  }
}
.active{
  border-bottom: 1px solid black !important;
  padding-bottom: 5px !important;
}
@media only screen and (max-width: 768px) {
 .main-error{
 margin: 20px;
 .error-page{
  width: 100% !important;
 }
 }
}


@media only screen and (max-width: 450px) {
  .main-error{
 .error-container{
  .w-50{
    width: 100%!important;
  }
 }
  }
  .top-header{
    display: block;
  }
 }
//  @media only screen and (max-width: 450px) {
//   .main-error{
//  .error-container{
//   .w-50{
//     width: 100%!important;
//   }
//  }
//   }
//  }