<div class="modal-body">
    <p><b>Please update the mandatory fields according your preference to design Error or Maintenance Page.</b> </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
         
        <div class="form-group pt-3">
            <label>Error message:</label><span class="star">*</span>
            <input type="text" maxlength="200" class="form-control inputbox" aria-describedby="title-err-text" aria-required="true" placeholder="Please enter title" name="title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" autofocus/>
            <div *ngIf="(f.title.touched || submitted) && f.title.errors" class="invalid-feedback">
                <div class="error" role="alert" aria-atomic="true"  *ngIf="f.title.errors.required">Error message is required</div>
                <div class="error" role="alert" aria-atomic="true"   *ngIf="f.title.errors.minlength">Minimum 50 word required error message</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.title.errors.maxlength">maxlength 250 for error message</div>
              </div>
            </div>

        <div class="pt-3">
            <label class="accessbility">Select the type of the page</label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="selectedType" aria-label="select selectedType"  aria-describedby="width-err-txt"
                    formControlName="selectedType">
                    <option>Error Page </option>
                <option>Maintenance Page</option>
                   
                </select>
            </div>
            <div *ngIf="(f.selectedType.touched || submitted) && f.selectedType.errors" class="invalid-feedback">
                <div class="error" role="alert" id="width-err-txt" *ngIf="f.selectedType.errors.required">Please select an
                    option</div>
            </div>
        </div>

 
        <div class="pt-3">
            <label class="accessbility">Page width</label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="cardwidth" aria-label="select cardwidth" aria-describedby="width-err-txt"
                    formControlName="cardwidth">
                    <option>100%</option>
                    <option>75%</option>
                    <option>50%</option>
                    <option>25%</option>
                </select>
            </div>
            <div *ngIf="(f.cardwidth.touched || submitted) && f.cardwidth.errors" class="invalid-feedback">
                <div class="error" role="Alert width" id="width-err-txt" *ngIf="f.cardwidth.errors.required">Please select an
                    option</div>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please Select theme for the page:</label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select class="bgcolor" name="theme" aria-label="select theme color" aria-describedby="theme-err-txt"
                    formControlName="theme">
                    <option>Dark</option>
                    <option>Blue</option>
                    <option>Purple</option>
                    <option>Light</option>
                </select>
            </div>
            <div *ngIf="(f.theme.touched || submitted) && f.theme.errors" class="invalid-feedback">
                <div class="error" role="Alert Theme" id="theme-err-txt" *ngIf="f.theme.errors.required">Please select an
                    option</div>
            </div>
        </div>



        <div class="footerbutton" *ngIf="!errordata" >
            <button class="submitbutton">
                Create
            </button>
        </div>
        <div class="footerbutton" *ngIf="errordata">
            <button  class="submitbutton">
                Update
            </button>
        </div>
    </form>
    
    </div> 
