<div class="modal-body">
    <p><b>Please fill the mandatory fields according your preference to design bar chart</b> </p>

    <form [formGroup]="barchartForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label class="accessbility">Select the type of bar chart</label><span class="star">*</span>
            <div class="form-group">
                <label class="image1" for="Single"><input [(ngModel)]="barchartdata.barchartType" type="radio" id="Single" name="barchartType" value="Single" aria-describedby="barType-err-text" aria-label="Single" formControlName="barchartType"> <span>Single</span></label>
                <label class="image1" for="Column"><input [(ngModel)]="barchartdata.barchartType" type="radio" id="Column" name="barchartType" value="Column" aria-describedby="barType-err-text" aria-label="Column" formControlName="barchartType"> <span>Column</span></label>
            </div>
            <div *ngIf="(f.barchartType.touched || submitted) && f.barchartType.errors">
                <div class="error" role="alert" id="barType-err-text" *ngIf="f.barchartType.errors.required">Choice of bar-type is required</div>
            </div>    
        </div>

        <div class="form-group pt-3" *ngIf="f.barchartType.value == 'Single' || f.barchartType.value == 'Column'">
            <label>Number of bars: </label><span class="star">*</span>
            <select [(ngModel)]="barchartdata.nobars" name="nobars" aria-label="select number of bars" formControlName="nobars">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <div *ngIf="(f.nobars.touched || submitted) && f.nobars.errors" >
                <div class="error" role="alert" aria-atomic="true"  *ngIf="f.nobars.errors.required">Please select a number.</div>
            </div>
        </div>

        <div class="form-group pt-3" *ngIf="f.barchartType.value == 'Column'">
            <label>Number of legends: </label><span class="star">*</span>
            <select [(ngModel)]="barchartdata.nolegends" name="nolegends" aria-label="select number of legends" formControlName="nolegends">
                <!-- <option>--Select--</option> -->
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <div *ngIf="(f.nolegends.touched || submitted) && f.nolegends.errors" >
                <div class="error" role="alert" aria-atomic="true"  *ngIf="f.nolegends.errors.required">Please select a number.</div>
            </div>
        </div>

        <div *ngIf="f.barchartType.value == 'Column'">
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1'">
                <label>Text for the legend of bar 1: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.blegend1" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the legend of bar 1" aria-required="true" placeholder="Text for the legend of bar 1" name="blegend1" formControlName="blegend1" [ngClass]="{ 'is-invalid': submitted && f.blegend1.errors }" autofocus/>
                <div *ngIf="(f.blegend1.touched || submitted) && f.blegend1.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend1.errors.required">Please enter legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend1.errors.minlength">Minimum 3 word required for legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend1.errors.maxlength">Maximum 15 word allowed for legend</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2'">
                <label>Text for the legend of bar 2: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.blegend2" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the legend of bar 2" aria-required="true" placeholder="Text for the legend of bar 2" name="blegend2" formControlName="blegend2" [ngClass]="{ 'is-invalid': submitted && f.blegend2.errors }" autofocus/>
                <div *ngIf="(f.blegend2.touched || submitted) && f.blegend2.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend2.errors.required">Please enter legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend2.errors.minlength">Minimum 3 word required for legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend2.errors.maxlength">Maximum 15 word allowed for legend</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3'">
                <label>Text for the legend of bar 3: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.blegend3" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the legend of bar 3" aria-required="true" placeholder="Text for the legend of bar 3" name="blegend3" formControlName="blegend3" [ngClass]="{ 'is-invalid': submitted && f.blegend3.errors }" autofocus/>
                <div *ngIf="(f.blegend3.touched || submitted) && f.blegend3.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend3.errors.required">Please enter legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend3.errors.minlength">Minimum 3 word required for legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend3.errors.maxlength">Maximum 15 word allowed for legend</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4'">
                <label>Text for the legend of bar 4: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.blegend4" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the legend of bar 4" aria-required="true" placeholder="Text for the legend of bar 4" name="blegend4" formControlName="blegend4" [ngClass]="{ 'is-invalid': submitted && f.blegend4.errors }" autofocus/>
                <div *ngIf="(f.blegend4.touched || submitted) && f.blegend4.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend4.errors.required">Please enter legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend4.errors.minlength">Minimum 3 word required for legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend4.errors.maxlength">Maximum 15 word allowed for legend</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5'">
                <label>Text for the legend of bar 5: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.blegend5" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the legend of bar 5" aria-required="true" placeholder="Text for the legend of bar 5" name="blegend5" formControlName="blegend5" [ngClass]="{ 'is-invalid': submitted && f.blegend5.errors }" autofocus/>
                <div *ngIf="(f.blegend5.touched || submitted) && f.blegend5.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend5.errors.required">Please enter legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend5.errors.minlength">Minimum 3 word required for legend</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.blegend5.errors.maxlength">Maximum 15 word allowed for legend</div>
                </div>
            </div>
        </div>

        <div *ngIf="f.barchartType.value == 'Single'">
            <div class="form-group pt-3" *ngIf="f.nobars.value >= 1">
                <label>Text for the title of bar 1: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.btitle1" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the title of bar 1" aria-required="true" placeholder="Text for the title of bar 1" name="btitle1" formControlName="btitle1" [ngClass]="{ 'is-invalid': submitted && f.btitle1.errors }" autofocus/>
                <div *ngIf="(f.btitle1.touched || submitted) && f.btitle1.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle1.errors.required">Please enter title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle1.errors.minlength">Minimum 3 word required for title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle1.errors.maxlength">Maximum 15 word allowed for title</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= '1'">
                <label>Value for bar 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue1" type="number" class="form-control inputbox" aria-describedby="Value for bar 1" aria-required="true" placeholder="Value for bar 1" name="bvalue1" formControlName="bvalue1" [ngClass]="{ 'is-invalid': submitted && f.bvalue1.errors }" autofocus/>
                <div *ngIf="(f.bvalue1.touched || submitted) && f.bvalue1.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue1.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue1.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue1.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= 2">
                <label>Text for the title of bar 2: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.btitle2" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the title of bar 2" aria-required="true" placeholder="Text for the title of bar 2" name="btitle2" formControlName="btitle2" [ngClass]="{ 'is-invalid': submitted && f.btitle2.errors }" autofocus/>
                <div *ngIf="(f.btitle2.touched || submitted) && f.btitle2.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle2.errors.required">Please enter title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle2.errors.minlength">Minimum 3 word required for title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle2.errors.maxlength">Maximum 15 word allowed for title</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= '2'">
                <label>Value for bar 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue2" type="number" class="form-control inputbox" aria-describedby="Value for bar 2" aria-required="true" placeholder="Value for bar 2" name="bvalue2" formControlName="bvalue2" [ngClass]="{ 'is-invalid': submitted && f.bvalue2.errors }" autofocus/>
                <div *ngIf="(f.bvalue2.touched || submitted) && f.bvalue2.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue2.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue2.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue2.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>
            
            <div class="form-group pt-3" *ngIf="f.nobars.value >= 3">
                <label>Text for the title of bar 3: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.btitle3" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the title of bar 3" aria-required="true" placeholder="Text for the title of bar 3" name="btitle3" formControlName="btitle3" [ngClass]="{ 'is-invalid': submitted && f.btitle3.errors }" autofocus/>
                <div *ngIf="(f.btitle3.touched || submitted) && f.btitle3.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle3.errors.required">Please enter title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle3.errors.minlength">Minimum 3 word required for title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle3.errors.maxlength">Maximum 15 word allowed for title</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= '3'">
                <label>Value for bar 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue3" type="number" class="form-control inputbox" aria-describedby="Value for bar 3" aria-required="true" placeholder="Value for bar 2" name="bvalue3" formControlName="bvalue3" [ngClass]="{ 'is-invalid': submitted && f.bvalue3.errors }" autofocus/>
                <div *ngIf="(f.bvalue3.touched || submitted) && f.bvalue3.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue3.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue3.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue3.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= 4">
                <label>Text for the title of bar 4: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.btitle4" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the title of bar 4" aria-required="true" placeholder="Text for the title of bar 4" name="btitle4" formControlName="btitle4" [ngClass]="{ 'is-invalid': submitted && f.btitle4.errors }" autofocus/>
                <div *ngIf="(f.btitle4.touched || submitted) && f.btitle4.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle4.errors.required">Please enter title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle4.errors.minlength">Minimum 3 word required for title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle4.errors.maxlength">Maximum 15 word allowed for title</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= '4'">
                <label>Value for bar 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue4" type="number" class="form-control inputbox" aria-describedby="Value for bar 4" aria-required="true" placeholder="Value for bar 4" name="bvalue4" formControlName="bvalue4" [ngClass]="{ 'is-invalid': submitted && f.bvalue4.errors }" autofocus/>
                <div *ngIf="(f.bvalue4.touched || submitted) && f.bvalue4.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue4.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue4.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue4.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= 5">
                <label>Text for the title of bar 5: </label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.btitle5" type="text" maxlength="15" class="form-control inputbox" aria-describedby="Text for the title of bar 5" aria-required="true" placeholder="Text for the title of bar 5" name="btitle5" formControlName="btitle5" [ngClass]="{ 'is-invalid': submitted && f.btitle5.errors }" autofocus/>
                <div *ngIf="(f.btitle5.touched || submitted) && f.btitle5.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle5.errors.required">Please enter title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle5.errors.minlength">Minimum 3 word required for title</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.btitle5.errors.maxlength">Maximum 15 word allowed for title</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nobars.value >= '5'">
                <label>Value for bar 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue5" type="number" class="form-control inputbox" aria-describedby="Value for bar 5" aria-required="true" placeholder="Value for bar 5" name="bvalue5" formControlName="bvalue5" [ngClass]="{ 'is-invalid': submitted && f.bvalue5.errors }" autofocus/>
                <div *ngIf="(f.bvalue5.touched || submitted) && f.bvalue5.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue5.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue5.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue5.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>
        </div>

        <div  *ngIf="f.barchartType.value == 'Column'">

            <!-- Bar 2 with Legends begins -->
        
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1' && f.nobars.value >= 1">
                <label>Value for bar 1 - Legend 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue201" type="number" class="form-control inputbox" aria-describedby="Value for bar 1 - Legend 1" aria-required="true" placeholder="Value for bar 1 - Legend 1" name="bvalue201" formControlName="bvalue201" [ngClass]="{ 'is-invalid': submitted && f.bvalue201.errors }" autofocus/>
                <div *ngIf="(f.bvalue201.touched || submitted) && f.bvalue201.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue201.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue201.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue201.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2' && f.nobars.value >= 1">
                <label>Value for bar 1 - Legend 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue211" type="number" class="form-control inputbox" aria-describedby="Value for bar 1 - Legend 2" aria-required="true" placeholder="Value for bar 1 - Legend 2" name="bvalue211" formControlName="bvalue211" [ngClass]="{ 'is-invalid': submitted && f.bvalue211.errors }" autofocus/>
                <div *ngIf="(f.bvalue211.touched || submitted) && f.bvalue211.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue211.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue211.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue211.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3' && f.nobars.value >= 1">
                <label>Value for bar 1 - Legend 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue221" type="number" class="form-control inputbox" aria-describedby="Value for bar 1 - Legend 3" aria-required="true" placeholder="Value for bar 1 - Legend 3" name="bvalue221" formControlName="bvalue221" [ngClass]="{ 'is-invalid': submitted && f.bvalue221.errors }" autofocus/>
                <div *ngIf="(f.bvalue221.touched || submitted) && f.bvalue221.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue221.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue221.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue221.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4' && f.nobars.value >= 1">
                <label>Value for bar 1 - Legend 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue231" type="number" class="form-control inputbox" aria-describedby="Value for bar 1 - Legend 4" aria-required="true" placeholder="Value for bar 1 - Legend 4" name="bvalue231" formControlName="bvalue231" [ngClass]="{ 'is-invalid': submitted && f.bvalue231.errors }" autofocus/>
                <div *ngIf="(f.bvalue231.touched || submitted) && f.bvalue231.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue231.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue231.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue231.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5' && f.nobars.value >= 1">
                <label>Value for bar 1 - Legend 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue241" type="number" class="form-control inputbox" aria-describedby="Value for bar 1 - Legend 5" aria-required="true" placeholder="Value for bar 1 - Legend 5" name="bvalue241" formControlName="bvalue241" [ngClass]="{ 'is-invalid': submitted && f.bvalue241.errors }" autofocus/>
                <div *ngIf="(f.bvalue241.touched || submitted) && f.bvalue241.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue241.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue241.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue241.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <!-- Bar 2 with Legends begins -->
        
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1' && f.nobars.value >= 2">
                <label>Value for bar 2 - Legend 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue202" type="number" class="form-control inputbox" aria-describedby="Value for bar 2 - Legend 1" aria-required="true" placeholder="Value for bar 2 - Legend 1" name="bvalue202" formControlName="bvalue202" [ngClass]="{ 'is-invalid': submitted && f.bvalue202.errors }" autofocus/>
                <div *ngIf="(f.bvalue202.touched || submitted) && f.bvalue202.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue202.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue202.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue202.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2' && f.nobars.value >= 2">
                <label>Value for bar 2 - Legend 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue212" type="number" class="form-control inputbox" aria-describedby="Value for bar 2 - Legend 2" aria-required="true" placeholder="Value for bar 2 - Legend 2" name="bvalue212" formControlName="bvalue212" [ngClass]="{ 'is-invalid': submitted && f.bvalue212.errors }" autofocus/>
                <div *ngIf="(f.bvalue212.touched || submitted) && f.bvalue212.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue212.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue212.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue212.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3' && f.nobars.value >= 2">
                <label>Value for bar 2 - Legend 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue222" type="number" class="form-control inputbox" aria-describedby="Value for bar 2 - Legend 3" aria-required="true" placeholder="Value for bar 2 - Legend 3" name="bvalue222" formControlName="bvalue222" [ngClass]="{ 'is-invalid': submitted && f.bvalue222.errors }" autofocus/>
                <div *ngIf="(f.bvalue222.touched || submitted) && f.bvalue222.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue222.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue222.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue222.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4' && f.nobars.value >= 2">
                <label>Value for bar 2 - Legend 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue232" type="number" class="form-control inputbox" aria-describedby="Value for bar 2 - Legend 4" aria-required="true" placeholder="Value for bar 2 - Legend 4" name="bvalue232" formControlName="bvalue232" [ngClass]="{ 'is-invalid': submitted && f.bvalue232.errors }" autofocus/>
                <div *ngIf="(f.bvalue232.touched || submitted) && f.bvalue232.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue232.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue232.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue232.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5' && f.nobars.value >= 2">
                <label>Value for bar 2 - Legend 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue242" type="number" class="form-control inputbox" aria-describedby="Value for bar 2 - Legend 5" aria-required="true" placeholder="Value for bar 2 - Legend 5" name="bvalue242" formControlName="bvalue242" [ngClass]="{ 'is-invalid': submitted && f.bvalue242.errors }" autofocus/>
                <div *ngIf="(f.bvalue242.touched || submitted) && f.bvalue242.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue242.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue242.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue242.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <!-- Bar 3 with Legends begins -->
        
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1' && f.nobars.value >= 3">
                <label>Value for bar 3 - Legend 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue203" type="number" class="form-control inputbox" aria-describedby="Value for bar 3 - Legend 1" aria-required="true" placeholder="Value for bar 3 - Legend 1" name="bvalue203" formControlName="bvalue203" [ngClass]="{ 'is-invalid': submitted && f.bvalue203.errors }" autofocus/>
                <div *ngIf="(f.bvalue203.touched || submitted) && f.bvalue203.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue203.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue203.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue203.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>
        
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2' && f.nobars.value >= 3">
                <label>Value for bar 3 - Legend 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue213" type="number" class="form-control inputbox" aria-describedby="Value for bar 3 - Legend 2" aria-required="true" placeholder="Value for bar 3 - Legend 2" name="bvalue213" formControlName="bvalue213" [ngClass]="{ 'is-invalid': submitted && f.bvalue213.errors }" autofocus/>
                <div *ngIf="(f.bvalue213.touched || submitted) && f.bvalue213.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue213.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue213.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue213.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3' && f.nobars.value >= 3">
                <label>Value for bar 3 - Legend 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue223" type="number" class="form-control inputbox" aria-describedby="Value for bar 3 - Legend 3" aria-required="true" placeholder="Value for bar 3 - Legend 3" name="bvalue223" formControlName="bvalue223" [ngClass]="{ 'is-invalid': submitted && f.bvalue223.errors }" autofocus/>
                <div *ngIf="(f.bvalue223.touched || submitted) && f.bvalue223.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue223.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue223.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue223.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4' && f.nobars.value >= 3">
                <label>Value for bar 3 - Legend 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue233" type="number" class="form-control inputbox" aria-describedby="Value for bar 3 - Legend 4" aria-required="true" placeholder="Value for bar 3 - Legend 4" name="bvalue233" formControlName="bvalue233" [ngClass]="{ 'is-invalid': submitted && f.bvalue233.errors }" autofocus/>
                <div *ngIf="(f.bvalue233.touched || submitted) && f.bvalue233.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue233.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue233.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue233.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5' && f.nobars.value >= 3">
                <label>Value for bar 3 - Legend 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue243" type="number" class="form-control inputbox" aria-describedby="Value for bar 3 - Legend 5" aria-required="true" placeholder="Value for bar 3 - Legend 5" name="bvalue243" formControlName="bvalue243" [ngClass]="{ 'is-invalid': submitted && f.bvalue243.errors }" autofocus/>
                <div *ngIf="(f.bvalue243.touched || submitted) && f.bvalue243.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue243.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue243.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue243.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <!-- Bar 4 with Legends begins -->
        
            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1' && f.nobars.value >= 4">
                <label>Value for bar 4 - Legend 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue204" type="number" class="form-control inputbox" aria-describedby="Value for bar 4 - Legend 1" aria-required="true" placeholder="Value for bar 4 - Legend 1" name="bvalue204" formControlName="bvalue204" [ngClass]="{ 'is-invalid': submitted && f.bvalue204.errors }" autofocus/>
                <div *ngIf="(f.bvalue204.touched || submitted) && f.bvalue204.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue204.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue204.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue204.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2' && f.nobars.value >= 4">
                <label>Value for bar 4 - Legend 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue214" type="number" class="form-control inputbox" aria-describedby="Value for bar 4 - Legend 2" aria-required="true" placeholder="Value for bar 4 - Legend 2" name="bvalue214" formControlName="bvalue214" [ngClass]="{ 'is-invalid': submitted && f.bvalue214.errors }" autofocus/>
                <div *ngIf="(f.bvalue214.touched || submitted) && f.bvalue214.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue214.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue214.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue214.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3' && f.nobars.value >= 4">
                <label>Value for bar 4 - Legend 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue224" type="number" class="form-control inputbox" aria-describedby="Value for bar 4 - Legend 3" aria-required="true" placeholder="Value for bar 4 - Legend 3" name="bvalue224" formControlName="bvalue224" [ngClass]="{ 'is-invalid': submitted && f.bvalue224.errors }" autofocus/>
                <div *ngIf="(f.bvalue224.touched || submitted) && f.bvalue224.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue224.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue224.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue224.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4' && f.nobars.value >= 4">
                <label>Value for bar 4 - Legend 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue234" type="number" class="form-control inputbox" aria-describedby="Value for bar 4 - Legend 4" aria-required="true" placeholder="Value for bar 4 - Legend 4" name="bvalue234" formControlName="bvalue234" [ngClass]="{ 'is-invalid': submitted && f.bvalue234.errors }" autofocus/>
                <div *ngIf="(f.bvalue234.touched || submitted) && f.bvalue234.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue234.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue234.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue234.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5' && f.nobars.value >= 4">
                <label>Value for bar 4 - Legend 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue244" type="number" class="form-control inputbox" aria-describedby="Value for bar 4 - Legend 5" aria-required="true" placeholder="Value for bar 4 - Legend 5" name="bvalue244" formControlName="bvalue244" [ngClass]="{ 'is-invalid': submitted && f.bvalue244.errors }" autofocus/>
                <div *ngIf="(f.bvalue244.touched || submitted) && f.bvalue244.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue244.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue244.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue244.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <!-- Bar 5 with Legends begins -->

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '1' && f.nobars.value >= 5">
                <label>Value for bar 5 - Legend 1:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue205" type="number" class="form-control inputbox" aria-describedby="Value for bar 5 - Legend 1" aria-required="true" placeholder="Value for bar 5 - Legend 1" name="bvalue205" formControlName="bvalue205" [ngClass]="{ 'is-invalid': submitted && f.bvalue205.errors }" autofocus/>
                <div *ngIf="(f.bvalue205.touched || submitted) && f.bvalue205.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue205.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue205.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue205.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '2' && f.nobars.value >= 5">
                <label>Value for bar 5 - Legend 2:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue215" type="number" class="form-control inputbox" aria-describedby="Value for bar 5 - Legend 2" aria-required="true" placeholder="Value for bar 5 - Legend 2" name="bvalue215" formControlName="bvalue215" [ngClass]="{ 'is-invalid': submitted && f.bvalue215.errors }" autofocus/>
                <div *ngIf="(f.bvalue215.touched || submitted) && f.bvalue215.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue215.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue215.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue215.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '3' && f.nobars.value >= 5">
                <label>Value for bar 5 - Legend 3:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue225" type="number" class="form-control inputbox" aria-describedby="Value for bar 5 - Legend 3" aria-required="true" placeholder="Value for bar 5 - Legend 3" name="bvalue225" formControlName="bvalue225" [ngClass]="{ 'is-invalid': submitted && f.bvalue225.errors }" autofocus/>
                <div *ngIf="(f.bvalue225.touched || submitted) && f.bvalue225.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue225.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue225.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue225.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '4' && f.nobars.value >= 4">
                <label>Value for bar 5 - Legend 4:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue235" type="number" class="form-control inputbox" aria-describedby="Value for bar 5 - Legend 4" aria-required="true" placeholder="Value for bar 5 - Legend 4" name="bvalue235" formControlName="bvalue235" [ngClass]="{ 'is-invalid': submitted && f.bvalue235.errors }" autofocus/>
                <div *ngIf="(f.bvalue235.touched || submitted) && f.bvalue235.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue235.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue235.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue235.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>

            <div class="form-group pt-3" *ngIf="f.nolegends.value >= '5' && f.nobars.value >= 4">
                <label>Value for bar 5 - Legend 5:</label><span class="star">*</span>
                <input [(ngModel)]="barchartdata.bvalue245" type="number" class="form-control inputbox" aria-describedby="Value for bar 5 - Legend 5" aria-required="true" placeholder="Value for bar 5 - Legend 5" name="bvalue245" formControlName="bvalue245" [ngClass]="{ 'is-invalid': submitted && f.bvalue245.errors }" autofocus/>
                <div *ngIf="(f.bvalue245.touched || submitted) && f.bvalue245.errors" >
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue245.errors.required">Please enter value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue245.errors.min">Minimum 0 required for value</div>
                    <div class="error" role="alert" aria-atomic="true" *ngIf="f.bvalue245.errors.max">Maximum 1000 allowed for value</div>
                </div>
            </div>
        </div>

        <div class="form-group pt-3">
            <label>Title for X-axis: </label><span class="star">*</span>
            <input [(ngModel)]="barchartdata.xaxistitle" type="text" maxlength="25" class="form-control inputbox" aria-describedby="title for X-axis" aria-required="true" placeholder="Please enter title for X-axis" name="xaxistitle" formControlName="xaxistitle" [ngClass]="{ 'is-invalid': submitted && f.xaxistitle.errors }" autofocus/>
            <div class="invalid-feedback" *ngIf="(f.xaxistitle.touched || submitted) && f.xaxistitle.errors" >
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.xaxistitle.errors.required">X-axis title is required</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.xaxistitle.errors.minlength">Minimum length of 3 required for X-axis title</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.xaxistitle.errors.maxlength">Maximum length 25 of allowed for X-axis title</div>
            </div>
        </div>

        <div class="form-group pt-3">
            <label>Title for Y-axis: </label><span class="star">*</span>
            <input [(ngModel)]="barchartdata.yaxistitle" type="text" maxlength="25" class="form-control inputbox" aria-describedby="title for Y-axis" aria-required="true" placeholder="Please enter title for Y-axis" name="yaxistitle" formControlName="yaxistitle" [ngClass]="{ 'is-invalid': submitted && f.yaxistitle.errors }" autofocus/>
            <div class="invalid-feedback" *ngIf="(f.yaxistitle.touched || submitted) && f.yaxistitle.errors" >
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.yaxistitle.errors.required">Y-axis title  is required</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.yaxistitle.errors.minlength">Minimum length of 3 required for Y-axis title</div>
                <div class="error" role="alert" aria-atomic="true" *ngIf="f.yaxistitle.errors.maxlength">Maximum length 25 of allowed for Y-axis title</div>
            </div>
        </div>

        <div class="pt-3">
            <label class="accessbility">Please select size for bar chart </label><span class="star">*</span>
            <div class="form-group d-flex align-items-center shadow-sec background">
                <select [(ngModel)]="barchartdata.size" class="bgcolor" name="size" aria-label="select size for bar chart" formControlName="size">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select>
            </div>
        </div>

        <div class="footerbutton">
            <button class="submitbutton">
                Update
            </button>
        </div>
    </form>
</div>